@{
    ViewData["Title"] = "Home Page";
}


<a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/imagenes/inicio01.png" alt="myworkoutroutine_banner"
        , style="width:100%; padding-top: 1rem"></a>
